html
  head
    title!= title
  body
    h1!= message
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque laudantium, laborum inventore aliquam debitis odit ipsa blanditiis accusamus sit atque adipisci optio praesentium, ipsam cumque consequatur asperiores. Molestias, beatae fugit.