html
  head
    title!= title
    script(src="style.css")
  body
    h1.heading!= message
    ul.branches
      each val in branches
        a(href = '/')
          if val.isDefault
            li.branch.branch_default= val.name
          else
            li.branch=val.name  
